/* accounts.css */
#accounts-section {
    padding-top: 10px;
}

.period-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.period-navigation button {
    background: #004080;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}

.period-navigation button:hover {
    background: #003366;
}

.period-display {
    font-weight: bold;
    margin: 0 10px;
}

.positive {
    color: blue;
}

.negative {
    color: red;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.day-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-row:last-child {
    border-bottom: none;
}

.transaction-row .amount {
    text-align: right;
}

.selected-account {
    font-weight: bold;
}

/* Specific styles for accounts page */
.accounts-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-weight: 700;
}

#accounts-balances {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.account-row {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 15%;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-row:hover {
    background-color: #e0e0e0;
}

.account-row span:first-child {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#back-button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    margin-right: 8px;
}

#back-button:hover {
    background: #003366;
}

/* Responsive design */
@media (max-width: 768px) {
    .account-row {
        all: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 0.75rem;
        padding-block: 5px;
        border-bottom: 1px solid #c6c6c6;
        width: 45%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}
