/* Tab navigation */
.tabs {
    display: flex;
    justify-content: flex-start;
    gap: .75rem;
    margin-bottom: 1rem;
}

.tab-btn {
    padding: 0.5rem 1rem;
    cursor: pointer;
    /* background-color: #f0f0f0; */
    /* border: 1px solid #ccc; */
    border-bottom: none;
    margin-right: 0.2rem;
}

.tab-btn.active {
    background-color: #4caf50;
    /* border: 1px solid #ffffff; */
    border-bottom: 1px solid white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.mapping-container {
    padding: 0 1rem 1rem;
}

.cta-buttons {
    padding: 1rem;
}

.group-container .group-box {
    flex: 1;
    align-self: self-start;
    position: relative;
}

.group-container .group-box h3 {
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}

.group-container .group-box h3 .edit-group {
    margin-left: 1rem;
    cursor: pointer;
}

.group-container .group-box .mapped-accounts,
.group-container .group-box .mapped-subcategories {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 2rem;
    border: 1px solid #a5a5a5;
}

.group-container .group-box .mapped-accounts li,
.group-container .group-box .mapped-subcategories li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #ddd;
    background: #fff;
    gap: 0.5rem;
    align-items: center;
}

.group-container .group-box .mapped-accounts li span,
.group-container .group-box .mapped-subcategories li span {
    cursor: pointer;
}

.group-container .group-box .mapped-accounts li .account-name,
.group-container .group-box .mapped-subcategories li .subcategory-name {
    flex: 1;
}

.group-container .group-box .mapped-accounts li .edit-account,
.group-container .group-box .mapped-subcategories li .edit-subcategory {
    margin-left: 1rem;
    cursor: pointer;
}

.mapped-accounts:not(:has(li)),
.mapped-subcategories:not(:has(li)) {
    border: 1px solid #8f8f8f;
    min-height: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#accounts-list,
#subcategories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#unmapped-accounts-heading,
#unmapped-subcategories-heading {
    margin: 0.5rem;
}

#accounts-list .account-item,
#subcategories-list .subcategory-item {
    padding: 0.5rem;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.form-row {
    margin-bottom: 1rem;
}

.submit-btn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.cancel-btn {
    background: #888;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.delete-btn {
    background: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {

    .edit-group,
    .remove-btn {
        display: none;
    }

    .group-box h3:hover .edit-group {
        display: inline;
    }

    .mapped-accounts li:hover .remove-btn,
    .mapped-subcategories li:hover .remove-btn {
        color: red;
        display: inline;
    }
}

/* New CSS for unmapped subcategory select modal */
#unmapped-subcategory-select-modal,
#unmapped-account-select-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 56px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#unmapped-subcategory-select-modal .modal-content,
#unmapped-account-select-modal .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

#unmapped-subcategory-select-list,
#unmapped-account-select-list {
    list-style: none;
    padding: 0;
}

#unmapped-subcategory-select-list li,
#unmapped-account-select-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    cursor: pointer;
}

#unmapped-account-title {
    text-align: center;
    margin-bottom: .75em;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .group-box {
        width: 100%;
        /* Full width for smaller screens */
    }
}