.tabs {
    display: flex;
    justify-content: space-around;
}

.period-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.period-navigation button {
    background: #004080;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}

.period-navigation button:hover {
    background: #003366;
}

.period-display {
    font-weight: bold;
    margin: 0 10px;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.day-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#monthly-transactions .transaction-row, #total-transactions .transaction-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-inline: 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.transaction-row span:not(:first-child) {
    flex: 1;
}

.transaction-row:last-child {
    border-bottom: none;
}

.amount.income, #daily-income, #monthly-income, #total-income {
    color: blue;
}

.amount.expense, #daily-expenses, #monthly-expenses, #total-expenses {
    color: red;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .tab-button {
        flex: 1;
    }
    
    .transaction-list {
        gap: unset;
    }
}
